.Main {
  background-color: #fafafa;
  height: 92.5%;
}

.Nav {
  padding: 50px 10px;
  margin: 0 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Card__container {
  height: 80%;
  margin: 0 60px;
  padding: 0;
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 50px;
}
